@import '../../../const';

.buttons{
    @include square(100%,40%);
    margin: 0;
    margin-top: 10px;
    padding: 0;
   // margin: 3px;    
    &__left{
        
        float: left;
        margin-right: 5px;
    }
    &__right{   
        @include item_border();   
        float: left;
  }
}