@import './../../const';

$input-bottom-padding: 40px;
// border: $middle-stroke-width solid $standard-button-stroke;

.input {
	height: $input-height;
    width: 100%;
    background: transparent;
    box-shadow: 0 0 10px rgba(241, 236, 236, 0.5);
    outline: none;
    border: none;
	box-sizing: border-box;
	font-size: $middle-font-size;
    text-align: center;
    color: $color-text;
	&::placeholder {
		color: $placeholder;
	}
}

.with-error {
	padding-bottom: $input-bottom-padding;
	&[data-error] {
		width: 100%;
		position: relative;
		color: $error;

		& > .input {
			border: $error-stroke-width solid $error;
		}
		&::after {
			content: attr(data-error);
            position: absolute;
			bottom: $input-bottom-padding - 12;
			font-size: $small-font-size;
			display: block;
			width: 100%;
			text-align: center;
		}
    }
    // &[data-success] {
	// 	width: 100%;
	// 	position: relative;
	// 	color: $success;
    //     & > .input {
	// 		border: $error-stroke-width solid $success;
	// 	}
		
	// 	&::after {
	// 		content: attr(data-error);
	// 		position: absolute;
	// 		bottom: 1px;
	// 		font-size: var(--large-font-size);
	// 		display: block;
	// 		width: 100%;
	// 		text-align: center;
	// 	}
	// }
}
