@import '../../../const';
.filter-mode{
    width: 100%;
    &__btn{
        display: inline-block;
        @include color_btn($primary_background,$color_title);
        @include item_border();   
        &:focus{
            @include item_border(); 
        }
    }
    &__content{
        cursor: default;
        width: 40%;
        text-align: center;
        display: inline-block;
        @include color_btn($primary_background,$color_title);
        @include item_border();   
    }
}