@import './../../../global.scss';


@mixin tool_btn {
  color:grey;
  border: none;
  border:none;
  outline: none;  
  text-align: center;   
  &:focus{
    outline: none !important;
  }
}


.tools{
  text-align: center;
    width: 400px;
    outline: none;
    margin-top: 1rem;
    background-color: $primary-background;

    &__leftbtn{
      width: 50%;
        @include tool_btn();
        background-color: $primary-background;        

    }
    &__rightbtn{
      width: 50%;
        @include tool_btn();
        margin-left: auto;
        margin-right: 0;
        background-color: $primary-background;
    }

  }
  
