// .todo-list .list-group-item{
//   padding: .25rem .75rem;
// }
@import '../../../const';
.todos{
  margin-top: 9px;
  margin-left: $list-padding;
  margin-right: $list-padding;
  list-style: none;
  background-color: $primary-background;  

  &__li{
    padding: 0;
    margin: 0;
    height: $heigth_li;
    @include item-border();
    @include color_btn($todo_color,$color_title);
     width: 100%; 
  }
}