.button {
	padding: 0 1.125em;
	border: none;
	font-size: var(--x-large-font-size);
	border-radius: var(--default-border-radius);
	outline: var(--default-outline);
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-delay: 0.2s;

}