@import './../../const';
@import './../../styles/mixins';

.button {
	//height: 100%;
	width: 100%;
	padding: 0 1.125em;
	border: none;
	outline: none;
	padding: 0;
	font-size: $x-large-font-size;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-delay: 0.2s;

	& * {
		pointer-events: none;
	}
	&:active {
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		background: var(--on-standard-background-standard-button);
	}
	&:disabled {
		pointer-events: none;
		border: $middle-stroke-width solid var(--standard-button-stroke);
		opacity: 0.6;
	}
	&:hover {
		@include turn-by-deg(180deg);
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		cursor: pointer;

	}
	&-kind {
		&_default-on-navigation {
			//color: var(--on-standard-button);
			background: transparent;
			border: none;
		}
		&_default-on-background {
			color: var(--on-standard-button);
			background: var(--on-standard-background-standard-button);
			border: var(--bold-stroke-width) solid var(--standard-button-stroke);
			border-radius: var(--big-border-radius);
		}
		&_success {
			color: var(--on-standard-button);
			background: var(--on-standard-background-standard-button);
			border: var(--bold-stroke-width) solid var(--primary-button-stroke);
			border-radius: var(--big-border-radius);
		}
		&_danger {
			color: var(--on-standard-button);
			background: var(--danger-button);
			border: var(--bold-stroke-width) solid var(--danger-button-stroke);
			border-radius: var(--big-border-radius);
		}
		&_keyboard {
			background: var(--on-navigation-background-standard-button);
			color: var(--on-standard-button);
			border: var(--bold-stroke-width) solid var(--standard-button-stroke);
			border-radius: var(--big-border-radius);
		}
	}
}