@import './../../../const';
@import './../../../styles/mixins';

.cliclable-icon {
	height: 100%;
	width: 100%;
	padding: 0 1.125em;
	border: none;
	outline: none;
	padding: 0;
	font-size: $x-large-font-size;
	background: transparent;
	border: none;

	& * {
		pointer-events: none;
	}
	&:active {
	}
	&:disabled {
		pointer-events: none;
		border: $middle-stroke-width solid var(--standard-button-stroke);
		opacity: 0.6;
	}
	&:hover {
		cursor: pointer;
	}
	&-side {
		&_default-on-vertical {
		}
		&_default-on-horisont {
		}
		&_left {
		}
		&_right {
		}
		&_top {
		}
		&_bottom {
		}
	}
}