@import '../../../styles/mixins';

.list {
	padding: var(--xx-small-padding);
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	white-space: nowrap;
}

.element {
	box-sizing: border-box;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.wrapper {
	@include visible-scrollbar;

	overflow: auto;
	flex-grow: 1;
	background: var(--standard-background);
}