$form_width:500px;

//Цвета фона
$primary_background:#F8FAF6;
$primary-dark:#F8FAF6 - 5;

//Цвета текста
//$color-text:rgb(132, 255, 183);
$color-text:rgb(75, 110, 143);
// $color-text:rgb(115, 245, 169);

//Активное выделение
$color-active: rgb(159, 126, 185);

//Размеры шрифтов
$xxx-large-font-size: 2.5rem; // 40px
$large-font-size: 2.25rem;
$middle-font-size: 1.25rem;
$small-font-size: 0.75rem;

//Внутри инпута
$placeholder: rgb(186, 170, 199);

//Рамка кнопки
$error-stroke-width: 3px;
//Рамка кнопки
$middle-stroke-width: 1px;

$input-height: 40px;

$x-large-font-size: 1rem; // 32px
$xx-large-font-size: 2.25rem; // 36px
	

//Минимальная высота заголовков
$small-section-height: 100px;

$success: rgb(232, 255, 170);

$error: rgb(211, 87, 49);


$link_col:#5A8A6D;
//Цвет списка
$todo_color: ($primary_background)+5;

$color_title:black;
$color_subtitle:grey;

$color_menu:rgb(90, 61, 138);

//$color_menu:rgb(248, 219, 192);

$heigth_header:100px;
$heigth_add_form:100px;

$heigth_li:100px;

$heigth_nav:100px;

//толщина заголовка
$font-weight-header: 550;
//толщина строки "кол-во активных дел"
$font-weight-subheader: 550;

//внутренний и внешний цвет
@mixin color_btn($background, $text){
    color: $text;
    background-color: $background;
}  

//рамка  
@mixin border_btn ($clr,$count){
    @for $i from 1 through $count { 
        box-shadow: 0 0 0 $i*3px $clr+$i*2;
    }
}


@mixin star_empty {
    font-family: 'FontAwesome';
                content: "\f006";    
}

@mixin star_active {
    font-family: 'FontAwesome';
                content: "\f005";    
}

@mixin square ($width, $height) {
    width: $width ;
    height: $height;  
}

@mixin item-border(){

    border:none;
    outline:none;
  }
//border radius у формы для добавления
//он же отступ от краев у списка
$border-radius-add:$form_width/5;
$list-padding:$border-radius-add/4+10;
