.nav-bar{

    padding: var(--xx-small-padding);
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	white-space: nowrap;
}

.element {
	box-sizing: border-box;
	transition-property: opacity;
	transition-duration: 0.3s;
}


// .element{
//     .element {
//         box-sizing: border-box;
//         transition-property: opacity;
//         transition-duration: 0.3s;
//     }
//         display: inline-block;
//         cursor: pointer;
//         margin: 1rem;
//         color: black;

//         &:active {
// 			background: var(--basket-background);
// 		}
         
// }

