// $color_title:black;
// $color_subtitle:grey;
@import '../../../const';

.header {

    height: $heigth_header;

    &__title {      
      display: inline-block;
      font-size: 3.0rem;
      width: 35%;
      height: 50%;
      color:$color_title;
      font-weight: $font-weight-header;
    }
    
    &__subtitle {
      display: inline-block;
      width: 35%;
      font-size: 1rem;
      color: $color_subtitle;
      font-weight: $font-weight-subheader;
    }
    &__login {
      display: inline-block;
      width: 20%;
      font-size: 1rem;
      color: $color_subtitle;
      font-weight: $font-weight-subheader;
    }
    // &__right {
    //   margin: 0;
    //   margin-bottom: 50px;
    //   float: right;
    //   height: 10%;
    //   width: 10%;
    //   font-size: 1rem;
    //   color: $color_subtitle;
    //   font-weight: $font-weight-subheader;
    // }
}