@import './../const';


$bc:$primary_background - 5;
$border_bc:$primary_background - 15;


.auth-page {
	&__center {
        border-radius: 20px;
        background-color: $bc;
        border: 1px solid $border_bc; /* Параметры границы */
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
        width: 434px;
        min-width: 434px;
        margin: 6rem auto;
        
        &__title {
            color: $color-text;		
            font-weight: 300;
            font-size: $large-font-size;
            line-height: 1.175;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        &__nav {
            color: $color-text;
            font-size: $large-font-size;
            margin: 1rem;
            padding: 0;
        }


	}
}


.input{

    background: white;
    margin-bottom: -16;
}