@import './../const';


$bc:$primary_background - 5;
$border_bc:$primary_background - 15;
$title-bottom-padding: 40px;


.auth-page {
	&__center {
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
		flex-direction: column;
		justify-content: center;
        border-radius: 20px;
		height: 100%;
        width: 434px;
        min-width: 434px;
        margin: 6rem auto;
        
        &__title {
            color: $color-text;	
            font-weight: 300;
            min-height: 100px;
            font-size: $large-font-size;
            text-align: center;
            margin: 0;
            padding-bottom: $title-bottom-padding;
            margin: -50px 0 0 0;
        }
        &__nav {
            color: $color-text;
            font-size: $large-font-size;
            margin: 1rem;
            padding: 0;
        }
        &__content {
            color: $color-text;
            font-size: $large-font-size;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            margin: auto;
        }
	}
}


// .input{

//     background: white;
//     margin-bottom: -16;
// }